Plugins/org.commontk.dah.core/Resources/HostService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://wg23.dicom.nema.org/" name="HostService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://wg23.dicom.nema.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://wg23.dicom.nema.org/"
				schemaLocation="HostService_schema1.xsd"/>
		</xsd:schema>
	</types>
	<message name="generateUID">
		<part name="parameters" element="tns:generateUID"/>
	</message>
	<message name="generateUIDResponse">
		<part name="parameters" element="tns:generateUIDResponse"/>
	</message>
	<message name="getAvailableScreen">
		<part name="parameters" element="tns:getAvailableScreen"/>
	</message>
	<message name="getAvailableScreenResponse">
		<part name="parameters" element="tns:getAvailableScreenResponse"/>
	</message>
	<message name="getOutputDir">
		<part name="parameters" element="tns:getOutputDir"/>
	</message>
	<message name="getOutputDirResponse">
		<part name="parameters" element="tns:getOutputDirResponse"/>
	</message>
	<message name="getTmpDir">
		<part name="parameters" element="tns:getTmpDir"/>
	</message>
	<message name="getTmpDirResponse">
		<part name="parameters" element="tns:getTmpDirResponse"/>
	</message>
	<message name="notifyStateChanged">
		<part name="parameters" element="tns:notifyStateChanged"/>
	</message>
	<message name="notifyStateChangedResponse">
		<part name="parameters" element="tns:notifyStateChangedResponse"/>
	</message>
	<message name="notifyStatus">
		<part name="parameters" element="tns:notifyStatus"/>
	</message>
	<message name="notifyStatusResponse">
		<part name="parameters" element="tns:notifyStatusResponse"/>
	</message>
	<message name="getAsModels">
		<part name="parameters" element="tns:getAsModels"/>
	</message>
	<message name="getAsModelsResponse">
		<part name="parameters" element="tns:getAsModelsResponse"/>
	</message>
	<message name="getDataAsFile">
		<part name="parameters" element="tns:getDataAsFile"/>
	</message>
	<message name="getDataAsFileResponse">
		<part name="parameters" element="tns:getDataAsFileResponse"/>
	</message>
	<message name="getDataAsSpecificTypeFile">
		<part name="parameters" element="tns:getDataAsSpecificTypeFile"/>
	</message>
	<message name="getDataAsSpecificTypeFileResponse">
		<part name="parameters" element="tns:getDataAsSpecificTypeFileResponse"/>
	</message>	
	<message name="notifyDataAvailable">
		<part name="parameters" element="tns:notifyDataAvailable"/>
	</message>
	<message name="notifyDataAvailableResponse">
		<part name="parameters" element="tns:notifyDataAvailableResponse"/>
	</message>
	<message name="queryModel">
		<part name="parameters" element="tns:queryModel"/>
	</message>
	<message name="queryModelResponse">
		<part name="parameters" element="tns:queryModelResponse"/>
	</message>
	<portType name="Host">
		<operation name="generateUID">
			<input message="tns:generateUID"/>
			<output message="tns:generateUIDResponse"/>
		</operation>
		<operation name="getAvailableScreen">
			<input message="tns:getAvailableScreen"/>
			<output message="tns:getAvailableScreenResponse"/>
		</operation>
		<operation name="getOutputDir">
			<input message="tns:getOutputDir"/>
			<output message="tns:getOutputDirResponse"/>
		</operation>
		<operation name="getTmpDir">
			<input message="tns:getTmpDir"/>
			<output message="tns:getTmpDirResponse"/>
		</operation>
		<operation name="notifyStateChanged">
			<input message="tns:notifyStateChanged"/>
			<output message="tns:notifyStateChangedResponse"/>
		</operation>
		<operation name="notifyStatus">
			<input message="tns:notifyStatus"/>
			<output message="tns:notifyStatusResponse"/>
		</operation>
		<operation name="getAsModels">
			<input message="tns:getAsModels"/>
			<output message="tns:getAsModelsResponse"/>
		</operation>
		<operation name="getDataAsFile">
			<input message="tns:getDataAsFile"/>
			<output message="tns:getDataAsFileResponse"/>
		</operation>
		<operation name="getDataAsSpecificTypeFile">
			<input message="tns:getDataAsSpecificTypeFile"/>
			<output message="tns:getDataAsSpecificTypeFileResponse"/>
		</operation>		
		<operation name="notifyDataAvailable">
			<input message="tns:notifyDataAvailable"/>
			<output message="tns:notifyDataAvailableResponse"/>
		</operation>
		<operation name="queryModel">
			<input message="tns:queryModel"/>
			<output message="tns:queryModelResponse"/>
		</operation>
	</portType>
	<binding name="HostPortBinding" type="tns:Host">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"/>
		<operation name="generateUID">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAvailableScreen">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getOutputDir">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getTmpDir">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyStateChanged">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyStatus">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAsModels">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDataAsFile">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDataAsSpecificTypeFile">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>		
		<operation name="notifyDataAvailable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryModel">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="HostService">
		<port name="HostPort" binding="tns:HostPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</port>
	</service>
</definitions>
