Plugins/org.commontk.dicom.wg23.core/Resources/ApplicationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://wg23.dicom.nema.org/"
	name="ApplicationService" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://wg23.dicom.nema.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://wg23.dicom.nema.org/"
				schemaLocation="ApplicationService_schema1.xsd"/>
		</xsd:schema>
	</types>
	<message name="bringToFront">
		<part name="parameters" element="tns:bringToFront"/>
	</message>
	<message name="bringToFrontResponse">
		<part name="parameters" element="tns:bringToFrontResponse"/>
	</message>
	<message name="getAsModels">
		<part name="parameters" element="tns:getAsModels"/>
	</message>
	<message name="getAsModelsResponse">
		<part name="parameters" element="tns:getAsModelsResponse"/>
	</message>	
	<message name="getDataAsFile">
		<part name="parameters" element="tns:getDataAsFile"/>
	</message>
	<message name="getDataAsFileResponse">
		<part name="parameters" element="tns:getDataAsFileResponse"/>
	</message>
	<message name="getDataAsSpecificTypeFile">
		<part name="parameters" element="tns:getDataAsSpecificTypeFile"/>
	</message>
	<message name="getDataAsSpecificTypeFileResponse">
		<part name="parameters" element="tns:getDataAsSpecificTypeFileResponse"/>
	</message>
	<message name="notifyDataAvailable">
		<part name="parameters" element="tns:notifyDataAvailable"/>
	</message>
	<message name="notifyDataAvailableResponse">
		<part name="parameters" element="tns:notifyDataAvailableResponse"/>
	</message>
	<message name="queryModel">
		<part name="parameters" element="tns:queryModel"/>
	</message>
	<message name="queryModelResponse">
		<part name="parameters" element="tns:queryModelResponse"/>
	</message>
	<message name="getState">
		<part name="parameters" element="tns:getState"/>
	</message>
	<message name="getStateResponse">
		<part name="parameters" element="tns:getStateResponse"/>
	</message>
	<message name="setState">
		<part name="parameters" element="tns:setState"/>
	</message>
	<message name="setStateResponse">
		<part name="parameters" element="tns:setStateResponse"/>
	</message>
	<portType name="Application">
		<operation name="bringToFront">
			<input message="tns:bringToFront"/>
			<output message="tns:bringToFrontResponse"/>
		</operation>
		<operation name="getAsModels">
			<input message="tns:getAsModels"/>
			<output message="tns:getAsModelsResponse"/>
		</operation>
		<operation name="getDataAsFile">
			<input message="tns:getDataAsFile"/>
			<output message="tns:getDataAsFileResponse"/>
		</operation>
		<operation name="getDataAsSpecificTypeFile">
			<input message="tns:getDataAsSpecificTypeFile"/>
			<output message="tns:getDataAsSpecificTypeFileResponse"/>
		</operation>
		<operation name="notifyDataAvailable">
			<input message="tns:notifyDataAvailable"/>
			<output message="tns:notifyDataAvailableResponse"/>
		</operation>
		<operation name="queryModel">
			<input message="tns:queryModel"/>
			<output message="tns:queryModelResponse"/>
		</operation>
		<operation name="getState">
			<input message="tns:getState"/>
			<output message="tns:getStateResponse"/>
		</operation>
		<operation name="setState">
			<input message="tns:setState"/>
			<output message="tns:setStateResponse"/>
		</operation>
	</portType>
	<binding name="ApplicationPortBinding" type="tns:Application">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"/>
		<operation name="bringToFront">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAsModels">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDataAsFile">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDataAsSpecificTypeFile">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="notifyDataAvailable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryModel">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getState">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setState">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ApplicationService">
		<port name="ApplicationPort" binding="tns:ApplicationPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</port>
	</service>
</definitions>

